*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

.main__background,
.header--navigation,
.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__background > *,
.header--navigation > *,
.footer > *{
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    max-width: 1280px;
}

strong{
    font-weight: 500;
}

label{
    display: grid;
}