/* Poppins Regular */
@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Poppins Thin */
@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/poppins/Poppins-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/* Poppins ExtraLight */
@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/poppins/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

/* Poppins Light */
@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/poppins/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Poppins Medium */
@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Poppins SemiBold */
@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

/* Poppins Bold */
@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Poppins ExtraBold */
@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/poppins/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

/* Poppins Black */
@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/poppins/Poppins-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* Poppins Italic */
@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/poppins/Poppins-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Poppins Thin Italic */
@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/poppins/Poppins-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

/* Poppins ExtraLight Italic */
@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/poppins/Poppins-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

/* Poppins Light Italic */
@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/poppins/Poppins-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

/* Poppins Medium Italic */
@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/poppins/Poppins-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

/* Poppins SemiBold Italic */
@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/poppins/Poppins-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

/* Poppins Bold Italic */
@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/poppins/Poppins-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* Poppins ExtraBold Italic */
@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/poppins/Poppins-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

/* Poppins Black Italic */
@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/poppins/Poppins-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

/* Regular */
.poppins-regular {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Thin */
.poppins-thin {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-style: normal;
}

/* ExtraLight */
.poppins-extralight {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-style: normal;
}

/* Light */
.poppins-light {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* Medium */
.poppins-medium {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* SemiBold */
.poppins-semibold {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: normal;
}

/* Bold */
.poppins-bold {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* ExtraBold */
.poppins-extrabold {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-style: normal;
}

/* Black */
.poppins-black {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-style: normal;
}

/* Italic */
.poppins-italic {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: italic;
}

/* Thin Italic */
.poppins-thin-italic {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-style: italic;
}

/* ExtraLight Italic */
.poppins-extralight-italic {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-style: italic;
}

/* Light Italic */
.poppins-light-italic {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: italic;
}

/* Medium Italic */
.poppins-medium-italic {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: italic;
}

/* SemiBold Italic */
.poppins-semibold-italic {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: italic;
}

/* Bold Italic */
.poppins-bold-italic {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: italic;
}

/* ExtraBold Italic */
.poppins-extrabold-italic {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-style: italic;
}

/* Black Italic */
.poppins-black-italic {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-style: italic;
}
