.button{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid;
}

.button--cta{
    border-color: var(--color-highlight-light);
    width: 300px;
    color: var(--color-highlight-light);
    font-weight: 500;
    padding: 8px;
    border-radius: 5px;
    transition: 0.5s;
}

.button--cta:hover{
    background-color: var(--color-highlight-light);
    color: var(--color-background-light);
}