@import "tailwindcss";

/* Base */
@import "./base/base.css";
@import "./base/typography.css";

/* Components */
@import "./components/button.css";
@import "./components/form.css";

/* Theme */
@import "./theme/theme-light.css";

/* State */
@import "./state/is-active.css";
@import "./state/is-hidden.css";

/* Utils */
@theme{
    --breakpoint-xmd: 32rem;
}

.bg-banner{
    background-image: url('../../../public/imagens/banners/banner-imav-outdoor.jpg');
    background-position: top;
    background-size: cover;
}

.bg-if-banner{
    background-image: url('../../../public/imagens/backgrounds/Destaque-IF-Baiano-7.jpg');
    background-position: center;
    background-size: cover;
}

