@theme{
    --color-background-dark: #F4F5F6;
    --color-background-light: #FFFFFF;
    --color-light: #898989;
    --color-dark: #161D24;
    --color-highlight-light: #005CA6;
    --color-highlight-dark: #002E63;
}